:root {
  --font-family: roboto;
  --small-screen-start: 320px;
  --small-screen-stop: 480px;
  --medium-screen-start: 481px;
  --medium-screen-stop: 768px;
  --large-screen-start:  769px;
  --large-screen-stop: 1024px; /* and above*/

  /*Colors*/
  --color-white: #ffffff;
  --color-primary: #22496d;
  --color-secondary: #8ab4bd;
  --color-dark-blue: #1b3a57;
  --color-black1: #000000;
  --color-black2: #1d1d1d;
  --color-black3: #282828;

  --color-gray1: #333333;
  --color-gray2: #4f4f4f;
  --color-gray3: #828282;
  --color-gray4: #bdbdbd;
  --color-gray5: #e0e0e0;

  --small-screen-font-size-h1: 64px;
  --large-screen-font-size-h1: 80px;
  --large-screen-bold-h1: 700;
  
  --small-screen-font-size-h2: 48px;
  --large-screen-font-size-h2: 64px;
  --large-screen-bold-h2: 700;

  --small-screen-font-size-h3: 32px;
  --large-screen-font-size-h3: 48px;
  --large-screen-bold-h3: 700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
